# gtangle 생성물
frame.go

# frame.go 생성물
framedef.mp

# mptopdf 생성물
frame.[0-9]
frame-[0-9].pdf

# gweave · luatex 생성물
frame.tex
frame.toc
frame.log
frame.pdf

# ktf/ 생성물
ktf.go
ktf.mp
ktf.[0-9]
ktf-[0-9].pdf
ktf.tex
ktf.toc
ktf.log
ktf.pdf

# macOS
.DS_Store
