# gtangle 생성물
frame.go

# frame.go 생성물
framedef.mp

# mptopdf 생성물
frame.[0-9]
frame-[0-9].pdf
frame.mpx

# frieze/ 생성물 (mptopdf)
frieze.[0-9]
frieze-[0-9].pdf
frieze.mpx
frieze.log
frieze.pdf

# gweave · luatex 생성물
frame.tex
frame.toc
frame.log
frame.pdf

# frames/ 생성물
frames.go
frames.mp
frames.[0-9]
frames-[0-9].pdf
frames.tex
frames.toc
frames.log
frames.pdf

# macOS
.DS_Store
